html {
  height: 100%;
}
body {
  min-height: 100%;
}
#html_header{
  height: 10vh;
}
#html_content{
  height:80vh;
}
#html_content > .container{
  height:100%;
}
#html_content > .container > #maprow{
  height:100%;
  position:relative;
}
#map {
    height: 100%;
    width:100%;
    z-index: 5;
}

#toast{
  position:absolute;
  top:0;
  right:0;
  max-width: none;
  /* width:30%; */
  height:100%;
  z-index: 10;
}

.toast-body > div{
  margin-top: 2%;
  margin-bottom: 2%;
}

#menu_panel, #review_panel{
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  right:0;
  overflow-y: scroll;
}

#reviewbtn{
  float: right;
  padding: 0;
}
