---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHQEAANb9GBLvFW6jdCxyyUUde9W7pUw8PSFAf7KU5RnQ2890B40Kbnyw4bI4dcR7NVWTMjCWkxAGPdP0EMJbYSKdSPE_Ci4OHXAeBOVxUZrHaynZuAZsWzcGD9dSRRFq69NJzKoISs83bDFN1DKLEILcJoo-VqOP2wEotLuVwJ1wiHk60hMRWb48xuc1CkD-5_amEEk-Yn-0Rf-gN2ciQIPN_NmYaUyq_HjcXVEFxQv5LeWCJQjB3DqOuAusmYuygGVbstQGfq4OPlQBda-A3YRnWKIuMNJSf8jK1ytwM9v67nEG_5_I9K0gSAGXLdxV9f6gv98VDwFQF7YGe9075a0DpvgDrzL2_oyKRqTjUw-K6kiP_kRqB46wrmRMzSe9Vqr3CRIQmVgZ-v3zbROHs2eu1BU64BoU-NxPXo2WJpAJshxmq2tJuwxTZi8",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7963383,
                       "lng" : 120.9980553
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79764187989272,
                          "lng" : 120.9994561798927
                       },
                       "southwest" : {
                          "lat" : 24.79494222010728,
                          "lng" : 120.9967565201073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "粹飲Pure Drink",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2612,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108303825789914019950\"\u003ema Ka\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAJ0mWoB8xNazKweQnY8ZMBbkgveb5fPeZ83z4NxooiMOClxJU9yxARGJrt7r0rJkesDMmhTixWn0zIxi0uiMbFjUDhIBv0v-iEfKvKZCLNyL7eDgu0XxmlZtFxCaV8jdjEhCjZX2pQaLwRzpyoTMgbjUyGhTxXNqOeFxKfsyWjyGMLtTxifp1uQ",
                       "width" : 2612
                    }
                 ],
                 "place_id" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "plus_code" : {
                    "compound_code" : "QXWX+G6 東區 新竹市",
                    "global_code" : "7QP2QXWX+G6"
                 },
                 "rating" : 4.7,
                 "reference" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 16,
                 "vicinity" : "東區建功路5號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                       "s[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 24 Oct 2020 07:25:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 24 Oct 2020 07:25:01 GMT
recorded_with: VCR 6.0.0
