---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHQEAANShGSskU7yylL9-pJBUhhZkOVEDx0aUH8Fovfx3sBtcpCtSIAELAP6Su13Ho6WrqJcLiI9SxP3wvtHOSm9LbgrrCPKP9AOod_uxMqDkGpuykthBfZ38e8u_IxC1ODA0EId10WmZLd2WepkgFKjJ3uVRwwcHvpaSEWzuUq6TruaiKvKq4xeIwZSXUWNKXb6nIm2Ls3cbezEpot3PR3xSoDmGEveIVFYWLofkLtM208Ju4mJRshPQ80cqgZaeoVLlIyUPV2vF0Zfgafvh-rbxkoO3vur6OAWF2oyWCBGvqR1B6gDcOVUTX_lBDd7BPVUfdz3cVXhmeb2kCxtx92EQFn-_tUFW3586CM7RGi62cX_bLd714h_iK6dg4B7_lDmSxBIQojCWG_L8MtdYqLz14C0f5BoURCbW7Zb-WRYjDBo0d6noh5RNI1w",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7962525,
                       "lng" : 120.9980509
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79757647989272,
                          "lng" : 120.9994292298927
                       },
                       "southwest" : {
                          "lat" : 24.79487682010727,
                          "lng" : 120.9967295701072
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                 "name" : "有茶氏",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 4032,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/116514177982359359004\"\u003eT-K Chen\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAA0IjIK0wQTl1SsciDQh8g90uIyw0JOiPrROK5ECm36otCF_a-wPfKdHvCpU-yoSYieYBTGD8GruRGND3ADEWbMhb8JEK4aEH1giMsImTkA9K79d7pmdOxl7fnSSpacldAEhDlWWhanQ5THWT9uwSLEPDiGhRWyofI-2Jr5JIFmsKL6iA8ws0yYA",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJrfJWSw02aDQRiB8h0mcqMR4",
                 "plus_code" : {
                    "compound_code" : "QXWX+G6 東區 新竹市",
                    "global_code" : "7QP2QXWX+G6"
                 },
                 "price_level" : 1,
                 "rating" : 3.9,
                 "reference" : "ChIJrfJWSw02aDQRiB8h0mcqMR4",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 330,
                 "vicinity" : "東區建功路3號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                       "s[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Wed, 21 Oct 2020 05:21:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 21 Oct 2020 05:21:04 GMT
recorded_with: VCR 6.0.0
