---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHQEAAHxYbW4rwTHN2eyVsQOsBnV5xC0TlFPkyNGGLaKli5m7o_eXldSHhqNOxSIYQDWv0tUf1mL0_-vFS2iYLh8feXhUPBeyloOJEYabVym4GZW5qp7VYZ3HIn5O_nKR05XAs_YXqrV2EFyk9PuyqeXAjOltoOGX6YQTk6Vq3b62ZZiAmoBqJFcOT35OAOAoFRRkyEKUmLkXDxePnb_PMaIXYB2kOZ3dZARHvVJpHwVqfRLTBKMW1KiLNy3NrbIkmW6fpAWI8fprxxzty3ytebFR6GdvAG642pNZrbFvNt1kfoibqZFUHY3JTYZgNTJOVM0jmGv22TkpAhyYVH_gHWzexR2-SHFcBH0H7Q_1nnlWtjsOr-z7jyUmWfq11zAkD9DOBhIQVOfVXnySLjNko-SzLATQ2BoUc403EV1jNsgjkFIvdq1fkGNWBzw",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                       "southwest" : {
                          "lat" : 24.79623317010727,
                          "lng" : 120.9946417701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "鮮茶道-清大店",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 632,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109665090117947936405\"\u003e鮮茶道-清大店\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAkMbJLsfTMLtCVmY_Or8Q-JqGAY8mrXRYdzyl213WskG52PazUx84wf4eCVbfxne-PLdV5ki5lXTg2u_iOq7iol1zt_XewyhjWJ1HVNfivt9yTcxbFyB9IkgOhNDQU6s_EhCz-eSOoszF97WxeXCAUPvvGhS1jSZkIRvA3zzqaOYHEdy3YRr64A",
                       "width" : 632
                    }
                 ],
                 "place_id" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "plus_code" : {
                    "compound_code" : "QXXW+2C 東區 新竹市",
                    "global_code" : "7QP2QXXW+2C"
                 },
                 "price_level" : 1,
                 "rating" : 4.1,
                 "reference" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 67,
                 "vicinity" : "東區光復路二段440號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7969615,
                       "lng" : 120.9983823
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79828577989272,
                          "lng" : 120.9996544298927
                       },
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 21 Oct 2020 03:23:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Wed, 21 Oct 2020 03:23:00 GMT
recorded_with: VCR 6.0.0
