---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AcnaJv2GLEvyoGilM1PBGHxrE9OsabPQw4MThXM3dz--zJ7S4rVRst0JCpk6Wb2PhCNSnTw6fud-radzJZfMfzYNLP928PQoghY1BY__5zzcs1pB_j7NYVVJssNDUHZeR1jpeO2jO5DiDi2v17otk7Nej212CfAu3G2ycU9VD6PkaC_MsFaIwTt9na_N2jxwMeOt2NUviL8ODLOMuSlT-jNph_NcMlDJddMtfg_zmgXHOx-gVlYbGTtJ9mWlDpDaLMd0nRcDUCxO42HUCEfSzK8YwXEX30qvbrimFmIWtnyxLohiD3je5Ene_39Lwy8wqZQPWLwjVLRhsJ-SUZ_sWcEwTBZynzv4qSxnHYi5DlAVDh7_1zWPCtQcjfuoA92tSRqrb8EBJ_41haDtIVtH-JlrFy7Tvbwbw3e4wlZmyz7eLBcJgEWFt7WZ_5Bx",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                       "southwest" : {
                          "lat" : 24.79623317010727,
                          "lng" : 120.9946417701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "鮮茶道-清大店",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 4000,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109665090117947936405\"\u003e鮮茶道-清大店\u003c/a\u003e"
                       ],
                       "photo_reference" : "AcnaJv3XCbuK5WfKVRAiR39tYOR-oHEznA60WkjYu84mo0UilCR-lOeSCMpjdDU_HW0gcEdKuB67YyU0gypOPyy6ukP6HZPK9jMLWyDGhpgdxJa-eq3QJj5GIn8c9xwzVn54VuDtbt3TpTWfO0_3_QB7Qpg9QVrl47TfvH0uHf15jfDKsGMU",
                       "width" : 2250
                    }
                 ],
                 "place_id" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "plus_code" : {
                    "compound_code" : "QXXW+2C 東區 新竹市",
                    "global_code" : "7QP2QXXW+2C"
                 },
                 "price_level" : 1,
                 "rating" : 4.1,
                 "reference" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 69,
                 "vicinity" : "東區光復路二段440號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7981675,
                       "lng" : 120.9977783
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79952667989272,
                          "lng" : 120.9991652298927
                       },
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJW9SvJnM2aDQRE24IBUXWN4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "30071台灣新竹市東區光復路二段440號",
              "formatted_phone_number" : "03 572 2075",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1030"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJj-JB7XI2aDQReyt7-6gXNXk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJX55bPh03aDQRpQ2t5maGaCE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJk2CGyW83aDQRy4nny6Q6xUM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJFaoVjSY1aDQRugcbMCe5ync
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJNxVDuLc1aDQRb2ynhnaIC4s
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJn54boCU2aDQRR0rHBu2oUUs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJcepgtZA1aDQRq6PNu6nYEmk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJi1Pwv9k1aDQRIoHBYUr3xNs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJgctWf4o1aDQRCrhVvSjWtrE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJUXRfqt43aDQRn1edE5VCAj0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ00_ekBg3aDQRj6c-RGqlSiQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJXe-X2eo2aDQRvV-qTe3tXMo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJU9ymcws3aDQRYkGie7JxeQM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJwzAbGZ1KaDQRhzU4EGRe614
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJkzsDP-IxaDQRIal3nEb864A
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJp9t0FLYxaDQR7n93xGJFLyM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJT7hsMQtHaDQR8D3hZ2bAasY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJN_2XKT0xaDQRSbAg4z28mxM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJJREaRtpNaDQRjK4ARSY0_Uo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 07 Nov 2020 17:49:07 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 07 Nov 2020 17:49:08 GMT
- request:
    method: post
    uri: http://jedi.nlplab.cc:8000/api/jieba/
    body:
      encoding: US-ASCII
      string: sentence=%E5%BA%97%E5%93%A1%E6%9C%8D%E5%8B%99%E6%85%8B%E5%BA%A6%E5%A5%BD%21%E8%A3%BD%E4%BD%9C%E9%A3%B2%E6%96%99%E9%80%9F%E5%BA%A6%E5%BF%AB%EF%BC%8C%E8%83%AD%E8%84%82%E5%A4%9A%E5%A4%9A%E6%AF%94%E8%B5%B7%E5%89%8D%E5%B9%BE%E5%A4%A9%E5%9C%A8costco%E9%99%84%E8%BF%91%E5%88%86%E5%BA%97%E8%B2%B7%E5%88%B0%E7%9A%84%E5%A5%BD%E5%96%9D%E5%BE%88%E5%A4%9A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        5bqX5ZOhIOacjeWLmeaFi+W6piDlpb0gISDoo70g5L2cIOmjsiDmlpkg6YCf5bqmIOW/qyDvvIwg6IOt6ISCIOWkmuWkmiDmr5Totbcg5YmNIOW5vuWkqSDlnKggY29zdGNvIOmZhOi/kSDliIblupcg6LK35YiwIOeahCDlpb3llp0g5b6I5aSa
  recorded_at: Sat, 14 Nov 2020 13:18:17 GMT
[...]
- request:
    method: post
    uri: http://jedi.nlplab.cc:8000/api/jieba/
    body:
      encoding: US-ASCII
      string: sentence=%E6%87%89%E8%A9%B2%E6%98%AF%E5%96%9D%E9%81%8E%E6%9C%80%E6%B0%B4%E3%80%81%E5%BE%88%E6%B2%92%E8%8C%B6%E5%91%B3%E7%9A%84%E4%B8%80%E5%AE%B6%E5%8F%AF%E4%B8%8D%E5%8F%AF%E4%BA%86%EF%BC%8C%E6%87%B7%E7%96%91%E6%98%AF%E4%B8%8D%E6%98%AF%E5%AE%B6%E7%B4%85%E8%8C%B6%E5%B0%88%E8%B3%A3%E5%BA%97%E4%BA%86%E3%80%82
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        5oeJ6KmyIOaYryDllp3pgY4g5pyA5rC0IOOAgSDlvogg5rKSIOiMtuWRsyDnmoQg5LiA5a62IOWPryDkuI3lj68g5LqGIO+8jCDmh7fnlpEg5piv5LiN5pivIOWutue0heiMtiDlsIjos6Plupcg5LqGIOOAgg==
  recorded_at: Sat, 14 Nov 2020 13:23:35 GMT
recorded_with: VCR 6.0.0
