---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHQEAANrQkZOP_Ouai1pAzYOauqHs0t0eLsDDqAT6D1Y-wbQzu6VQ74ahigh84cTLSqiyomK5acvtnGIOTbkS0F5CiUgQzn7qKraEwdCV3uWDvY97yuvyYMZC9REj0sq61iyi3N5x1GkU5IyKr2bjWe2WkJVHktQ3X537u9C1XYobV6QM1N7pdYBQaWMgZ1R28HS9PbLBvWyXBXTerDALZdQ1fIEY-FmOtLOTGkTITSBZlBvDc7qDOPY60x640y2IJYljv6wm94DZNALJ-3S5ELH_zcR2DEPgikLV2ehKCHSeuycx4EwgvmIIMCBrujXzad-INu3BBEF8_MorE4slSWVMlIKjic1hekAa8QmIrhzweJGh-Ibm8JLpTwMK1TdZ6pQVWhIQV0JhB8HaWwakr3HtGcRyoxoUtkJOnbRhGFuguX-bezEGPGcfUOY",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7963383,
                       "lng" : 120.9980553
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79764187989272,
                          "lng" : 120.9994561798927
                       },
                       "southwest" : {
                          "lat" : 24.79494222010728,
                          "lng" : 120.9967565201073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "粹飲Pure Drink",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2612,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108303825789914019950\"\u003ema Ka\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAL1p0F79Ze9UvS4GMqWp7_337Nqo3m452925Z_2Jy0WoQg1iS0SHYVZjXkDQ_yyf4lK6GWS-T_3OxuNLO0mVwDnEnFO4TuqLufuc7JG3jKeBokUV-OM5loIkc6waNApOoEhAdwjnED2b8nYzVo14KVtXaGhRXcs4FonsEwyEuw20BpbyrImFJJQ",
                       "width" : 2612
                    }
                 ],
                 "place_id" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "plus_code" : {
                    "compound_code" : "QXWX+G6 東區 新竹市",
                    "global_code" : "7QP2QXWX+G6"
                 },
                 "rating" : 4.7,
                 "reference" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 16,
                 "vicinity" : "東區建功路5號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7969615,
                       "lng" : 120.9983823
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79828577989272,
                          "lng" : 120.9996544298927
                       },
                       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 24 Oct 2020 19:19:57 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sat, 24 Oct 2020 19:19:57 GMT
recorded_with: VCR 6.0.0
