---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AcnaJv045DkQ0G9VUihcie_jSH0H_f9uJGyG9Qa1NeLzEdkl0_LtfsZF7ATn8-PV_63sObiJOArXbvn2TUgg-cVo4StyXzu2tbgFBY1bBnujig9M9C-atKgRlci46feey2LZobBvTgLiyRhJ_zIOQV97cp0gfGl68PPBhsGECbg8ADT7baMBjCU3zD37T8p_Ouk8cX69aA6kTqyJneHIAjd7ekdcwKfEVZ343eRB0z2nVmOnacmztSz1g_JDm6hbu_sgqNd3CE6uzjNykITgVDKO93T5YEXV2rDIdelrFiP4G4arCE9ZOfFtN7ZVG83ToUh9DBbszmwfEfrrkU2LxiAO4rLG8mFof7AoxEYPX6PGzuB5JpW15VqlIvwsStOUzy2WFMqypSrZGUi_R1hNbse3dzmSk8pJU_tNYWWgkcsoDwnG-Lmm6dGa",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7963383,
                       "lng" : 120.9980553
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79764187989272,
                          "lng" : 120.9994561798927
                       },
                       "southwest" : {
                          "lat" : 24.79494222010728,
                          "lng" : 120.9967565201073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "粹飲Pure Drink",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2612,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108303825789914019950\"\u003ema Ka\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAbq3GIc3lBeQjZnOf8opHICEVeBntNlmhEEzP8nkdipdoXnXdasq-IqIwNPPCxqC4IUEPzT7uTv8Cr0hP27wsB7GF_2qvSp_bU1tJOrNPeKi9txx4FOWACxADNAeqznccEhB_zGok13bmaffPjzH7FeMrGhTgqsP_xVXBXEKxwacWexv17gJLdg",
                       "width" : 2612
                    }
                 ],
                 "place_id" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "plus_code" : {
                    "compound_code" : "QXWX+G6 東區 新竹市",
                    "global_code" : "7QP2QXWX+G6"
                 },
                 "rating" : 4.7,
                 "reference" : "ChIJjRg70kY3aDQR8vjd3f5yqMY",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 17,
                 "vicinity" : "東區建功路5號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7969615,
                       "lng" : 120.9983823
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79828577989272,
                          "lng" : 120.9996544298927
                       },
                       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Thu, 29 Oct 2020 18:42:59 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 29 Oct 2020 18:43:00 GMT
recorded_with: VCR 6.0.0
