---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E8%BB%92%E8%8B%91%E7%B4%94%E6%B7%A8%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:12 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF%E7%86%9F%E6%88%90%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7981675,
                       "lng" : 120.9977783
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79952667989272,
                          "lng" : 120.9991652298927
                       },
                       "southwest" : {
                          "lat" : 24.79682702010728,
                          "lng" : 120.9964655701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                 "name" : "可不可熟成紅茶",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3120,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/117710101393215238187\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "ATtYBwLUxzXt23aLq0WvxE91Ha3SPG-hBRWP_GAUFJoligCzdPXvNcEvdC8FKFhY1Lt2nzW_6OlJ5R3SL5KublJY_CNFdZ2_SZ-2RR6TlrLOyVpsvi9B4mCpS63clLUS_Ww-IpaPnaWo7KBrdRJmTQNqY-Y2tIS7HPA-GgahIH89HwuE90_Z",
                       "width" : 4160
                    }
                 ],
                 "place_id" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "plus_code" : {
                    "compound_code" : "QXXX+74 東區 新竹市",
                    "global_code" : "7QP2QXXX+74"
                 },
                 "price_level" : 1,
                 "rating" : 4,
                 "reference" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 362,
                 "vicinity" : "東區建功一路45-7號"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:13 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJj-JB7XI2aDQReyt7-6gXNXk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區建功一路45-7號",
              "formatted_phone_number" : "03 571 5252",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1000"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1000"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E6%97%A5%E5%87%BA%E8%8C%B6%E5%A4%AA&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJceXmz1E3aDQRiQBpkdxdrIM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E6%9E%97%E8%A8%98%E5%8F%A4%E6%84%8F%E5%A5%B6%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=ComeBuy&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJrfJWSw02aDQRiB8h0mcqMR4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ3xh1sho2aDQR7YH9wsqK_EI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區餐廳大學路1001號 女二舍",
              "formatted_phone_number" : "03 575 1377",
              "reviews" : [
                 {
                    "author_name" : "Li-Chi Ku",
                    "author_url" : "https://www.google.com/maps/contrib/110040616020561432728/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/a-/AOh14GgGRVpVx3F_GHtbqVmR78a-GgdmokRRYqLtsnxG=s128-c0x00000000-cc-rp-mo-ba6",
                    "rating" : 4,
                    "relative_time_description" : "4 年前",
                    "text" : "每到用餐及下課時間總是排隊人潮洶湧的飲料店，有些很特別的飲品。位在女二舍1F餐廳空間裏。",
                    "time" : 1459324913
                 },
                 {
                    "author_name" : "mango Hung",
                    "author_url" : "https://www.google.com/maps/contrib/109732658758430991503/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/a-/AOh14GgM91qSr2vaRvWLCVD2ELWR41oQFHt0DdCj-tdf3sY=s128-c0x00000000-cc-rp-mo-ba2",
              [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%AE%AE%E8%8C%B6%E9%81%93&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJW9SvJnM2aDQRE24IBUXWN4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJa4UkoQc2aDQRPiuBJuUgGT0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJsaeyunI2aDQRa-ffcfxLfGA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJKWr2Vjw2aDQRD9vR63VpwpM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ268ands3aDQRfOUFuBonSOY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJO1T_Vjw2aDQRMuOUoIc_ZCM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=LAG%E7%B4%AF%E6%93%B1%E5%96%AE%E5%93%81%E9%AE%AE%E5%A5%B6%E8%8C%B6%E5%A0%82&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:20 GMT
recorded_with: VCR 6.0.0
