---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 22 Nov 2020 14:11:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 22 Nov 2020 14:11:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7981675,
                       "lng" : 120.9977783
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79952667989272,
                          "lng" : 120.9991652298927
                       },
                       "southwest" : {
                          "lat" : 24.79682702010728,
                          "lng" : 120.9964655701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                 "name" : "可不可熟成紅茶",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2988,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/101643820823137654634\"\u003eFU Chen\u003c/a\u003e"
                       ],
                       "photo_reference" : "ATtYBwKzVkNojv6aB0WVazT5O-cWT7PmX-1un1HQxrOFRa9SYRyQBtiqY33pHP3emYpL_7l6g4_mD2q9TNYxmnK0su2tyAY8qkWi2VQmaz1qjeS6b2YjQ1xuz1u7t5wXN79h1VgLx5IZEWcSWwBzFABFjZVvkuDe5iJwZIjFRqw4mc-OVbIf",
                       "width" : 5312
                    }
                 ],
                 "place_id" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "plus_code" : {
                    "compound_code" : "QXXX+74 東區 新竹市",
                    "global_code" : "7QP2QXXX+74"
                 },
                 "price_level" : 1,
                 "rating" : 4,
                 "reference" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 353,
                 "vicinity" : "東區建功一路45-7號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJj-JB7XI2aDQReyt7-6gXNXk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區建功一路45-7號",
              "formatted_phone_number" : "03 571 5252",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1000"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1000"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJW9SvJnM2aDQRE24IBUXWN4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJv8IxqHI2aDQRjHiEvUez8Sc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJR_IYS7s3aDQRGkmp7SRVhhI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ80bhW3Q2aDQR72VhiEM7FFA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF%E7%86%9F%E6%88%90%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF%E7%86%9F%E6%88%90%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 22 Nov 2020 14:35:35 GMT
recorded_with: VCR 6.0.0
