---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AcnaJv3qPNK175v1xnoM4M2c-luBDAZYmTj6-er50AZnsraBC92S_Vv80G8uEfIX5yvnUAn52HtL7zHsAp5EmpCENBby5F-TUHeZMviy5izZqOMKJjq7wDM0ZBgN_RDEIMx8aRnWLrnsw-j-V5E2yj6_P8VgRlC84GvzWhSdvO_8-5Yt-1QY4kgG2sPAV-DUpuyFJ5CDKLXCAbtsirDofAhhSOLhug6YrtjkgQpgwQVwy02ZInVANd0ZP6jjrWNUPJf2BzxDnbAlgGg3f9c6Agn7aDa7b2wN118XKU8TlRzGPuT0Y-ywlT22sBDMchWC8aLwPODw2OTSPejbBdvS-qtWs2lYDzE0lD3FhGhf6q2gQK99u1HW4IAQZKFnAVt8K9lVWungVRDDM-V4s027W71rx3sznEOXNg4Pr6xV147MkBa7joigcvsH",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79762,
                       "lng" : 120.9960218
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79893282989272,
                          "lng" : 120.9973414298928
                       },
                       "southwest" : {
                          "lat" : 24.79623317010727,
                          "lng" : 120.9946417701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
                 "name" : "鮮茶道-清大店",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 632,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109665090117947936405\"\u003e鮮茶道-清大店\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAFWXjRKXtpyqonua3juBgkchCgCDA96QO9xIrLcCZj3tzF5BseqzzzlYMpd_6Qw4xlvoMIKRW3rbKsppVRIwjp8rK1Ma_gkikUr9xtvtWv7K6L9Vd8gMzkO0TRoz2-t69EhBi0O5V-oHGSp8W4jX5ebJ5GhSZpIRGU-j_IdJNcoDmoUK1mFgvfQ",
                       "width" : 632
                    }
                 ],
                 "place_id" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "plus_code" : {
                    "compound_code" : "QXXW+2C 東區 新竹市",
                    "global_code" : "7QP2QXXW+2C"
                 },
                 "price_level" : 1,
                 "rating" : 4.1,
                 "reference" : "ChIJW9SvJnM2aDQRE24IBUXWN4U",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "user_ratings_total" : 69,
                 "vicinity" : "東區光復路二段440號"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7969615,
                       "lng" : 120.9983823
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79828577989272,
                          "lng" : 120.9996544298927
                       },
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJW9SvJnM2aDQRE24IBUXWN4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "30071台灣新竹市東區光復路二段440號",
              "formatted_phone_number" : "03 572 2075",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1030"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJsaeyunI2aDQRa-ffcfxLfGA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJPWTxrHI2aDQRgwROCdR6mME
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJR_IYS7s3aDQRGkmp7SRVhhI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJkQK6vXI2aDQRLxYK-NGqsBU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ8aSd6HI2aDQR7RYEUydnY2g
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJv9RY2ZI3aDQRzXLQMS8aa4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJaQN_qXI2aDQRWbq2rJ86XiI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJmaw0xj83aDQRMAEnm52Bk30
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJYSfjW083aDQR7clpJNhT7rk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJv8IxqHI2aDQRjHiEvUez8Sc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ1TzOiu43aDQRp72yw7TaDZM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJmc-mh4w3aDQRj_okIgr6yr8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區光明里",
              "formatted_phone_number" : "03 572 8356",
              "reviews" : [
                 {
                    "author_name" : "余小小",
                    "author_url" : "https://www.google.com/maps/contrib/105270840481250924305/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/-bKpVXWZBLAo/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucm-WMuGu2nHkOWv_xLqJ8Xmq4engQ/s128-c0x00000000-cc-rp-mo/photo.jpg",
                    "rating" : 4,
                    "relative_time_description" : "2 個月前",
                    "text" : "茶類不錯",
                    "time" : 1597075046
                 },
                 {
                    "author_name" : "David Yen",
                    "author_url" : "https://www.google.com/maps/contrib/117157345919607716555/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/-8_ds6nCIAGY/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuclhP0UubcEkw1Hn94HwG19goo775A/s128-c0x00000000-cc-rp-mo-ba3/photo.jpg",
                    "rating" : 3,
                    "relative_time_description" : "2 年前",
                    "text" : "販售有果汁、茶類飲品、水果等",
                    "time" : 1536322086
                 },
                 {
                    "author_name" : "Na me",
                    "author_url" : "https://www.google.com/maps/contrib/116301141626728556808/reviews",
                    "language" : "zh-TW",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/a-/AOh14Gh-kHM5P3KewyPv__JMjJT5nabVaHKUMvAQmqyL=s128-c0x00000000-cc-rp-mo",
                    "rating" : 5,
                    "relative_time_description" : "10 個月前",
                    "text" : "嘉明的味道",
                    "time" : 1577443031
                 }
              ],
              "url" : "https://maps.google.com/?cid=13820133327969254031"
           },
           "status" : "OK"
        }
  recorded_at: Thu, 05 Nov 2020 21:10:12 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJtXCk8rY3aDQRqcw3N0xS_I4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJR8OrjxM2aDQRXuaVqHOzdPk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJSWfA6HQ2aDQR14OfWfBBfPY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJK4q7v4k3aDQRFxpNPVidLZ8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJceXmz1E3aDQRiQBpkdxdrIM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJXcxn59w3aDQRc_Q54dy8DX8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJa4UkoQc2aDQRPiuBJuUgGT0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 05 Nov 2020 21:10:14 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E9%A3%B2%E6%96%99&language=zh-TW&location=24.7961217,120.9966699&rankby=distance
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Thu, 05 Nov 2020 21:10:15 GMT
recorded_with: VCR 6.0.0
