---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E8%BB%92%E8%8B%91%E7%B4%94%E6%B7%A8%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:12 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF%E7%86%9F%E6%88%90%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7981675,
                       "lng" : 120.9977783
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.79952667989272,
                          "lng" : 120.9991652298927
                       },
                       "southwest" : {
                          "lat" : 24.79682702010728,
                          "lng" : 120.9964655701073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                 "name" : "可不可熟成紅茶",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3120,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/117710101393215238187\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "ATtYBwLUxzXt23aLq0WvxE91Ha3SPG-hBRWP_GAUFJoligCzdPXvNcEvdC8FKFhY1Lt2nzW_6OlJ5R3SL5KublJY_CNFdZ2_SZ-2RR6TlrLOyVpsvi9B4mCpS63clLUS_Ww-IpaPnaWo7KBrdRJmTQNqY-Y2tIS7HPA-GgahIH89HwuE90_Z",
                       "width" : 4160
                    }
                 ],
                 "place_id" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "plus_code" : {
                    "compound_code" : "QXXX+74 東區 新竹市",
                    "global_code" : "7QP2QXXX+74"
                 },
                 "price_level" : 1,
                 "rating" : 4,
                 "reference" : "ChIJj-JB7XI2aDQReyt7-6gXNXk",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 362,
                 "vicinity" : "東區建功一路45-7號"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:13 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJj-JB7XI2aDQReyt7-6gXNXk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區建功一路45-7號",
              "formatted_phone_number" : "03 571 5252",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1000"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1000"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E6%97%A5%E5%87%BA%E8%8C%B6%E5%A4%AA&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJceXmz1E3aDQRiQBpkdxdrIM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E6%9E%97%E8%A8%98%E5%8F%A4%E6%84%8F%E5%A5%B6%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=ComeBuy&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJrfJWSw02aDQRiB8h0mcqMR4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ3xh1sho2aDQR7YH9wsqK_EI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "formatted_address" : "300台灣新竹市東區餐廳大學路1001號 女二舍",
              "formatted_phone_number" : "03 575 1377",
              "reviews" : [
                 {
                    "author_name" : "Li-Chi Ku",
                    "author_url" : "https://www.google.com/maps/contrib/110040616020561432728/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/a-/AOh14GgGRVpVx3F_GHtbqVmR78a-GgdmokRRYqLtsnxG=s128-c0x00000000-cc-rp-mo-ba6",
                    "rating" : 4,
                    "relative_time_description" : "4 年前",
                    "text" : "每到用餐及下課時間總是排隊人潮洶湧的飲料店，有些很特別的飲品。位在女二舍1F餐廳空間裏。",
                    "time" : 1459324913
                 },
                 {
                    "author_name" : "mango Hung",
                    "author_url" : "https://www.google.com/maps/contrib/109732658758430991503/reviews",
                    "language" : "zh-Hant",
                    "profile_photo_url" : "https://lh3.googleusercontent.com/a-/AOh14GgM91qSr2vaRvWLCVD2ELWR41oQFHt0DdCj-tdf3sY=s128-c0x00000000-cc-rp-mo-ba2",
              [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=%E9%AE%AE%E8%8C%B6%E9%81%93&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJW9SvJnM2aDQRE24IBUXWN4U
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJa4UkoQc2aDQRPiuBJuUgGT0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJsaeyunI2aDQRa-ffcfxLfGA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJKWr2Vjw2aDQRD9vR63VpwpM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ268ands3aDQRfOUFuBonSOY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJO1T_Vjw2aDQRMuOUoIc_ZCM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=LAG%E7%B4%AF%E6%93%B1%E5%96%AE%E5%93%81%E9%AE%AE%E5%A5%B6%E8%8C%B6%E5%A0%82&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 13:30:20 GMT
- request:
    method: post
    uri: https://soa-nlp-api.herokuapp.com/tokenize
    body:
      encoding: US-ASCII
      string: sentence=%E6%9C%8D%E5%8B%99%E5%93%81%E8%B3%AA%E4%B8%8D%E9%8C%AF%EF%BC%8C%E5%B9%B3%E6%97%A5%E4%B8%AD%E5%8D%88%E4%BA%BA%E6%BD%AE%E9%9D%9E%E5%B8%B8%E5%A4%9A%EF%BC%8C%E4%BD%86%E5%BA%97%E5%93%A1%E6%85%8B%E5%BA%A6%E9%83%BD%E9%82%84%E5%8F%AF%E6%8E%A5%E5%8F%97%E3%80%82%0A%E8%8C%B6%E7%9A%84%E5%8F%A3%E6%84%9F%E6%98%AF%E5%A5%BD%E5%96%9D%E7%9A%84%EF%BC%8C%E6%9C%89%E4%BA%9B%E5%BA%9[...]
- request:
    method: post
    uri: https://soa-nlp-api.herokuapp.com/tokenize
    body:
      encoding: US-ASCII
      string: sentence=%E5%BA%97%E5%93%A1%E6%9C%8D%E5%8B%99%E6%85%8B%E5%BA%A6%E5%A5%BD%21%E8%A3%BD%E4%BD%9C%E9%A3%B2%E6%96%99%E9%80%9F%E5%BA%A6%E5%BF%AB%EF%BC%8C%E8%83%AD%E8%84%82%E5%A4%9A%E5%A4%9A%E6%AF%94%E8%B5%B7%E5%89%8D%E5%B9%BE%E5%A4%A9%E5%9C%A8costco%E9%99%84%E8%BF%91%E5%88%86%E5%BA%97%E8%B2%B7%E5%88%B0%E7%9A%84%E5%A5%BD%E5%96%9D%E5%BE%88%E5%A4%9A%3E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"\u5e97\u54e1": "N", "\u670d\u52d9": "Nv", "\u614b\u5ea6": "N", "\u597d":
        "Vi", "!": "x", "\u88fd\u4f5c": "Vt", "\u98f2\u6599": "N", "\u901f\u5ea6":
        "N", "\u5feb": "Vi", "\uff0c": "x", "\u80ed\u8102\u591a\u591a": "DRINK_NOUN",
        "\u6bd4\u8d77": "P", "\u524d\u5e7e\u5929": "N", "\u5728": "p", "costco": "eng",
        "\u9644\u8fd1": "N", "\u5206\u5e97": "N", "\u8cb7\u5230": "Vt", "\u7684":
        "T", "\u597d\u559d": "Vi", "\u5f88\u591a": "Vi", ">": "x"}'
  recorded_at: Sun, 20 Dec 2020 14:27:23 GMT
[...]
- request:
    method: post
    uri: https://soa-nlp-api.herokuapp.com/tokenize
    body:
      encoding: US-ASCII
      string: sentence=%E7%94%A8%E4%BA%86user+eat+%E5%A4%96%E9%80%81%E4%BA%94%E6%9D%AF+%E5%B0%91%E5%86%B0%E5%BE%AE%E7%B3%96%0A%0A%E7%B5%90%E6%9E%9C%E5%86%B0%E5%A1%8A%E5%8D%8A%E6%9D%AF%E3%80%82%0A%0A%E9%A3%B2%E6%96%99%E6%9D%AF%E3%80%82%E4%B8%8B%E5%8D%8A%E6%9D%AF%E5%85%A8%E9%83%A8%E6%9E%9C%E7%B3%96%EF%BC%8C%E4%B8%8A%E5%8D%8A%E6%9D%AF%E7%84%A1%E7%B3%96%E3%80%82%0A%E6%98%AF%E8%A6%81%E8%AB%8B%E6%88%91%E5%96%9D%E6%8B%BF%E9%90%B5%E6%98%AF%E5%97%8E%EF%BC%9F%E9%80%A3%E6%90%96%E9%83%BD%E6%87%B6%E7%9A%84%E6%90%96%EF%BC%9F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"\u7528": "p", "\u4e86": "ul", "user": "eng", " ": "x", "eat": "eng",
        "\u5916\u9001": "N", "\u4e94\u676f": "m", "\u5c11\u51b0": "N", "\u5fae\u7cd6":
        "N", "\n": "x", "\u7d50\u679c": "N", "\u51b0\u584a": "N", "\u534a\u676f":
        "m", "\u3002": "x", "\u98f2\u6599\u676f": "N", "\u4e0b\u534a": "N", "\u676f":
        "q", "\u5168\u90e8": "n", "\u679c\u7cd6": "N", "\uff0c": "x", "\u4e0a": "f",
        "\u7121\u7cd6": "N", "\u662f": "v", "\u8981": "v", "\u8acb": "v", "\u6211":
        "r", "\u559d": "vg", "\u62ff\u9435": "DRINK_NOUN", "\u55ce": "y", "\uff1f":
        "x", "\u9023\u6416": "nr", "\u90fd": "d", "\u61f6": "a", "\u7684": "uj", "\u6416":
        "v"}'
  recorded_at: Sun, 20 Dec 2020 14:27:25 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=snidnsicndsivndsivdsv&keyword=%E5%8F%AF%E4%B8%8D%E5%8F%AF%E7%86%9F%E6%88%90%E7%B4%85%E8%8C%B6&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token snidnsicndsivndsivdsv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 20 Dec 2020 15:14:36 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLEMAP_TOKEN>&keyword=dcnisndisncsdc&language=zh-TW&location=24.7961217,120.9966699&radius=1500
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 20 Dec 2020 15:14:37 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJn54boCU2aDQRR0rHBu2oUUs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJUXRfqt43aDQRn1edE5VCAj0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJX55bPh03aDQRpQ2t5maGaCE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJNxVDuLc1aDQRb2ynhnaIC4s
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJgctWf4o1aDQRCrhVvSjWtrE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJi1Pwv9k1aDQRIoHBYUr3xNs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJFaoVjSY1aDQRugcbMCe5ync
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJk2CGyW83aDQRy4nny6Q6xUM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ00_ekBg3aDQRj6c-RGqlSiQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ6UGrRs41aDQROQcBmDvAWoQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJyVQQ4sg1aDQRTyaIXQjh3aA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ_Vjjh1k3aDQRYd6UhPTDbiU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJzUE73sQ1aDQRXqvIw6_nc3M
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJuRI3-ek1aDQRwekXwoiuy9I
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJR_-fZBE3aDQRcG8oVtq0geA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJzd6YUfg1aDQRT84EyJfJpL4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJb3xFasI1aDQRActO0Xxpi1M
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJHzxynM41aDQRs1GmV2Zm6wQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ8zIxv-Q2aDQRrYl2XcJH6ZU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ-8ISIgk3aDQRuq3yYTeWNmw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJVZnBR8I1aDQROajWIB08nXg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=formatted_address,formatted_phone_number,opening_hours,reviews,url&key=<GOOGLEMAP_TOKEN>&language=zh-TW&place_id=ChIJ3y0N8zw2aDQR9Vnx87G-75k
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GOOGLEMAP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
[...]
